.maindiv {
  background-color: blue;

  width: 0;
  transition: 0.5s;
}
button {
  margin-top: 10px !important;
}
ul {
  text-align: center;
}
li {
  list-style-type: none;
  margin: 50px;
  color: white;
  font-size: 40px;
  display: none;
}

